<div class="mt-3">
    <h3>Cadastro de voluntários</h3>
    <form [formGroup]="cadastroVoluntarioForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Insira o nome" formControlName="nome">
                <span class="msg-erro-form text-danger" *ngIf="validarMensagemDeErro('nome')">Por favor insira o nome do
                    voluntário</span>
            </div>
            <div class="col">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="Insira o telefone"
                    formControlName="telefone" mask="(00) 00000-0000">
                <span class="msg-erro-form text-danger" *ngIf="validarMensagemDeErro('telefone')">Por favor insira o
                    telefone do voluntário</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="dataNascimento">Data de nascimento</label>
                <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento">
            </div>
            <span class="msg-erro-form text-danger" *ngIf="validarMensagemDeErro('dataNascimento')">Por favor insira a
                data de nascimento do voluntário</span>
            <div class="col">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" placeholder="Insira seu CPF" formControlName="cpf"
                    mask="000.000.000-00">
                <span class="msg-erro-form text-danger" *ngIf="validarMensagemDeErro('cpf')">Por favor insira o CPF do
                    voluntário</span>
            </div>
        </div>
        <label for="areasInteresse">Áreas de interesse</label>
        <textarea class="form-control" name="areasInteresse" id="areasInteresse" rows="3"
            formControlName="areasInteresse"></textarea>
        <span class="msg-erro-form text-danger" *ngIf="validarMensagemDeErro('areasInteresse')">Por favor insira a
            área de interesse do voluntário</span>
        
        <div class="mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="cadastroVoluntarioForm.invalid">Cadastrar
                voluntário</button>
        </div>
    </form>
</div>